'.source.js.jsx':
  '{ something }':
    'prefix': 'bb'
    'body': '{ ${1} }'
  'stateless functional component':
    'prefix': 'rfc'
    'body': """
    import React from 'react'

    const ${1} = () => {
      return (
      
      )
    }

    export default ${1}
    """
